.catalog__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 28px 0 28px;

  @media (min-width: $vp-768) {
    padding: 100px 94px 0 94px;
  }

  @media (min-width: $vp-1440) {
    padding-right: 156px;
    padding-left: 156px;
  }
}

.catalog__title {
  margin: 0 0 64px 0;

  @media (min-width: $vp-768) {
    margin-bottom: 71px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 91px;
  }
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 24px;

  @media (min-width: $vp-768) {
    gap: 52px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1440) {
    gap: 52px 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  display: grid;
  padding-bottom: 54px;
  overflow: hidden;

  border-radius: $border-radius;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.15);

  &:nth-child(n + 7) {
    display: none;

    @media (min-width: $vp-768) {
      display: grid;
    }
  }
}

.catalog__link-img {
  display: block;
  margin-bottom: 28px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.catalog__img {
  display: block;
  width: 100%;
}

.catalog__link-subtitle {
  margin-bottom: 28px;

  color: $color-accent-deep-sea;
  text-decoration: none;

  &:hover {
    color: $color-hover-green;
  }

  &:active {
    color: $color-green-disabled;
  }
}

.catalog__subtitle {
  margin: 0;
  padding-right: 40px;
  padding-left: 40px;

  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

.catalog__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 0 37px 0;
  padding-right: 40px;
  padding-left: 40px;

  text-align: center;

  gap: 19px;
}

.catalog__price {
  font-size: 18px;
  line-height: 21px;
}

.catalog__button {
  align-self: end;
  width: 220px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 14px;
}
