.checkbox-input {
  display: grid;
  align-items: center;

  grid-template-columns: 24px 1fr;
}

.checkbox-input__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

  border: 2px solid $color-accent-deep-sea;
  border-radius: 5px;

  appearance: none;
  cursor: pointer;

  &:hover {
    border-color: $color-hover-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    border-color: $color-leaf-grey;
    pointer-events: none;
    opacity: 1;
  }

  &::before {
    content: "";
    display: none;

    width: 14px;
    height: 11px;

    background-color: $color-accent-deep-sea;

    mask-image: url("../../img/icons/stack.svg#check");
    mask-position: center;
    mask-repeat: no-repeat;
  }
}

.checkbox-input__input:hover::before {
  background-color: $color-hover-green;
}

.checkbox-input__input:checked::before {
  display: block;
}

.checkbox-input__input:disabled::before {
  background-color: $color-leaf-grey;
}

.checkbox-input__text {
  padding: 10px 0 10px 12px;
  font-size: 16px;
  cursor: pointer;

  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 22px;
  }
}

.checkbox-input__input:disabled + .checkbox-input__text {
  cursor: default;
}
