.input__label {
  cursor: pointer;
}

.input__text {
  display: inline-flex;
  margin-bottom: 4px;
  margin-left: 12px;

  font-size: 16px;
  line-height: 20px;

  &--size-small {
    margin-bottom: 8px;
    margin-left: 22px;

    font-size: 14px;
    line-height: normal;

    @media (min-width: $vp-768) {
      margin-left: 12px;
      margin-bottom: 3px;

      font-size: 16px;
      line-height: 20px;
    }
  }
}

.input__asterisk {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-error;
}

.input__input {
  width: 100%;
  margin-bottom: 16px;
  padding: 15px 12px;

  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: $color-black;

  background-color: transparent;
  border: 1px solid $color-accent-deep-sea;
  border-radius: 20px;

  &:hover {
    border-color: $color-hover-green;
  }

  &::placeholder {
    color: $color-leaf-grey;

    opacity: 1;
  }

  &:focus-visible {
    border-color: $color-hover-green;
    outline: none;
  }

  &:disabled {
    color: $color-leaf-grey;

    border-color: $color-leaf-grey;

    pointer-events: none;
  }

  &--error {
    margin-bottom: 4px;

    color: $color-error;

    border-color: $color-error;
  }
}

.input__error {
  display: none;
  margin-left: 12px;

  font-size: 16px;
  line-height: 20px;
  color: $color-error;
}

.input__input--error + .input__error {
  display: block;
}

.input__textarea {
  resize: none;

  &--address {
    height: 88px;

    @media (min-width: $vp-768) {
      height: 52px;
    }
  }

  &--comment {
    height: 124px;

    @media (min-width: $vp-768) {
      height: 144px;
    }
  }
}
