.logo {
  display: block;
  width: 52px;
  height: 52px;
  overflow: hidden;

  color: $color-accent-deep-sea;

  @media (min-width: $vp-768) {
    width: 135px;
    height: 60px;
  }

  &[href]:hover {
    color: $color-hover-green;
  }

  &[href]:active {
    color: $color-green-disabled;
  }
}

.logo__img {
  display: block;

  @media (min-width: $vp-768) {
    width: 135px;
    height: 60px;
  }
}
