.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-size: 14px;
  line-height: normal;
  font-family: $ff-raleway;

  background-color: $color-white-alice-blue;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }

  &--background-white {
    background-color: $color-white;
  }
}

.page__page-main {
  flex-grow: 1;
}

.page__page-footer {
  margin-top: auto;
}

.page__decor {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;
    width: 288px;
    height: 32px;
    margin: 0 auto;

    background-image: url("../../img/icons/stack.svg#line-leaf");
    background-repeat: no-repeat;

    @media (min-width: $vp-768) {
      width: 296px;
      height: 42px;
    }
  }
}

.page__hero-inner {
  margin-bottom: 40px;

  @media (min-width: $vp-768) {
    margin-bottom: 35px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 46px;
  }
}

.page__catalog {
  margin-bottom: 64px;

  @media (min-width: $vp-768) {
    margin-bottom: 100px;
  }
}

.page__news {
  margin-bottom: 64px;

  @media (min-width: $vp-768) {
    margin-bottom: 110px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 100px;
  }
}

.page__form {
  margin-bottom: 89px;
}

.page__contacts {
  margin-bottom: 64px;

  @media (min-width: $vp-768) {
    margin-bottom: 100px;
  }
}
