.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  list-style-type: none;

  gap: 20px;

  @media (min-width: $vp-768) {
    gap: 32px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border: 1px solid $color-accent-deep-sea;
  border-radius: 50%;

  @media (min-width: $vp-768) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border-color: $color-hover-green;
  }

  &:active {
    border-color: $color-green-disabled;
  }

  &::before {
    content: "";

    display: block;

    background-color: $color-accent-deep-sea;

    mask-position: center;
    mask-repeat: no-repeat;
  }
}

.social__link:hover::before {
  background-color: $color-hover-green;
}

.social__link:active::before {
  background-color: $color-green-disabled;
}

.social__link--telegram::before {
  width: 19px;
  height: 19px;

  mask-image: url("../../img/icons/stack.svg#telegram");

  @media (min-width: $vp-768) {
    width: 24px;
    height: 24px;
  }
}

.social__link--vk::before {
  width: 19px;
  height: 15px;

  mask-image: url("../../img/icons/stack.svg#vkontakte");

  @media (min-width: $vp-768) {
    width: 24px;
    height: 19px;
  }
}

.social__link--youtube::before {
  width: 19px;
  height: 19px;

  mask-image: url("../../img/icons/stack.svg#youtube");

  @media (min-width: $vp-768) {
    width: 24px;
    height: 24px;
  }
}
