.title {
  color: $color-accent-deep-sea;
  text-align: center;
  font-family: $ff-comfortaa;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: $vp-768) {
    font-size: 48px;
    line-height: normal;
  }

  @media (min-width: $vp-1440) {
    font-size: 52px;
    line-height: 58px;
  }
}
