// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-white-alice-blue:   #fbfcfe;
$color-accent-deep-sea:    #0f805d;
$color-accent-purple:      #6a107a;
$color-error:              #ff8282;


// Viewports
$vp-768:                     768px;
$vp-1440:                    1440px;

//Fonts
$ff-comfortaa:              "Comfortaa", "Arial", sans-serif;
$ff-raleway:                "Raleway", "Arial", sans-serif;
