// Colors
$color-black:              #000000;
$color-white:              #ffffff;
$color-white-alice-blue:   #fbfcfe;
$color-white-background:   #f1f6fc;
$color-leaf-grey:          rgba(#8e9892, 0.7);
$color-accent-deep-sea:    #0f805d;
$color-hover-green:        #7bdb0a;
$color-green-disabled:     rgba($color-accent-deep-sea, 0.5);
$color-accent-purple:      #6a107a;
$color-purple-hover:       #b22ec8;
$color-purple-disabled:    rgba($color-accent-purple, 0.6);
$color-error:              #ff8282;

// Viewports
$vp-768:                     768px;
$vp-1440:                    1440px;

//Fonts
$ff-comfortaa:              "Comfortaa", "Arial", sans-serif;
$ff-raleway:                "Raleway", "Arial", sans-serif;

//Decor
$border-radius:             40px;
